In [63]:
import pickle
import pandas
import numpy as np
pandas.set_option('display.max_rows', None)

## Disctionary 1 = plate 1

In [2]:
subs_dict = pandas.read_pickle('d1.pkl')

In [3]:
subs_dict

{'A1': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'A2': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'A3': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'B1': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'B2': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'B3': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'C1': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'C2': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'C3': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'D1': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'D2': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'D3': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'E1': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'E2': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'E3': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'F1': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'F2': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'F3': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'G1': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'G2': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'G3': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.5, 'unit': 'mM'}},
 'A4': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'A5': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'A6': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'B4': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'B5': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'B6': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'C4': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'C5': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'C6': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'D4': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'D5': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'D6': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'E4': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'E5': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'E6': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'F4': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'F5': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'F6': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'G4': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'G5': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'G6': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.3333333333333333, 'unit': 'mM'}},
 'A7': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'A8': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'A9': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'B7': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'B8': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'B9': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'C7': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'C8': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'C9': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'D7': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'D8': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'D9': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'E7': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'E8': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'E9': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'F7': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'F8': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'F9': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'G7': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'G8': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'G9': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.06666666666666667, 'unit': 'mM'}},
 'A10': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'A11': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'A12': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'B10': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'B11': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'B12': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'C10': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'C11': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'C12': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'D10': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'D11': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'D12': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'E10': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'E11': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'E12': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'F10': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'F11': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'F12': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'G10': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'G11': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}},
 'G12': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.041666666666666664, 'unit': 'mM'}}}

In [4]:
subs_dict['A1']['Pyr']

{'conc': 40.5, 'unit': 'mM'}

In [51]:
rates = pandas.read_excel(r"C:\Users\Francel\Pipetting robot scripts\output_plate1_pH8.xlsx", sheet_name='plate1',
                         index_col=0)

In [52]:
rates

         rate
A1   0.111779
A2   0.115735
A3   0.125311
B1   0.104324
B2   0.103262
..        ...
F11  0.011571
F12  0.006176
G10  0.012693
G11  0.017168
G12  0.010400

[84 rows x 1 columns]

In [53]:
rates['NADH'] = 0.0
rates['Pyr'] = 0.0

In [54]:
rates.head()

        rate  NADH  Pyr
A1  0.111779   0.0  0.0
A2  0.115735   0.0  0.0
A3  0.125311   0.0  0.0
B1  0.104324   0.0  0.0
B2  0.103262   0.0  0.0

In [55]:
rates.loc['A1']['NADH']

0.0

In [56]:
rates.index

Index(['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3', 'D1', 'D2', 'D3',
       'E1', 'E2', 'E3', 'F1', 'F2', 'F3', 'G1', 'G2', 'G3', 'A4', 'A5', 'A6',
       'B4', 'B5', 'B6', 'C4', 'C5', 'C6', 'D4', 'D5', 'D6', 'E4', 'E5', 'E6',
       'F4', 'F5', 'F6', 'G4', 'G5', 'G6', 'A7', 'A8', 'A9', 'B7', 'B8', 'B9',
       'C7', 'C8', 'C9', 'D7', 'D8', 'D9', 'E7', 'E8', 'E9', 'F7', 'F8', 'F9',
       'G7', 'G8', 'G9', 'A10', 'A11', 'A12', 'B10', 'B11', 'B12', 'C10',
       'C11', 'C12', 'D10', 'D11', 'D12', 'E10', 'E11', 'E12', 'F10', 'F11',
       'F12', 'G10', 'G11', 'G12'],
      dtype='object')

In [57]:
for key in subs_dict:
    if key in rates.index:
        rates.loc[key]['NADH'] = subs_dict[key]['NADH']['conc']
        rates.loc[key]['Pyr'] = subs_dict[key]['Pyr']['conc']

In [58]:
rates

         rate      NADH     Pyr
A1   0.111779  0.500000  40.500
A2   0.115735  0.500000  40.500
A3   0.125311  0.500000  40.500
B1   0.104324  0.500000  37.800
B2   0.103262  0.500000  37.800
..        ...       ...     ...
F11  0.011571  0.041667   4.455
F12  0.006176  0.041667   4.455
G10  0.012693  0.041667   3.375
G11  0.017168  0.041667   3.375
G12  0.010400  0.041667   3.375

[84 rows x 3 columns]

In [59]:
writer = pandas.ExcelWriter('output_plate1.xlsx')
rates.to_excel(writer, sheet_name='exp')
writer.save()

## Dictionary 2 = plate2

In [16]:
subs_dict2 = pandas.read_pickle('d2.pkl')

In [31]:
subs_dict2

{'A1': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'A2': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'A3': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'B1': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'B2': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'B3': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'C1': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'C2': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'C3': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'D1': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'D2': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'D3': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'E1': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'E2': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'E3': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'F1': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'F2': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'F3': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'G1': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'G2': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'G3': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.4166666666666667, 'unit': 'mM'}},
 'A4': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'A5': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'A6': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'B4': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'B5': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'B6': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.08333333333333333, 'unit': 'mM'}},
 'C4': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'C5': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'C6': {'Pyr': {'conc': 27.0, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'D4': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'D5': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'D6': {'Pyr': {'conc': 13.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'E4': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'E5': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'E6': {'Pyr': {'conc': 6.75, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'F4': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'F5': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'F6': {'Pyr': {'conc': 4.455, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'G4': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'G5': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'G6': {'Pyr': {'conc': 3.375, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'A7': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'A8': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'A9': {'Pyr': {'conc': 40.5, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'B7': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'B8': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}},
 'B9': {'Pyr': {'conc': 37.8, 'unit': 'mM'},
  'NADH': {'conc': 0.05, 'unit': 'mM'}}}

In [41]:
rates2 = pandas.read_excel(r"C:\Users\Francel\Pipetting robot scripts\output_plate2.xlsx",
                         index_col=0)

In [43]:
rates2['NADH'] = 0.0
rates2['Pyr'] = 0.0

In [44]:
rates2.head()

        rate  NADH  Pyr
A1  0.111318   0.0  0.0
A2  0.109298   0.0  0.0
A3  0.111793   0.0  0.0
B1  0.104684   0.0  0.0
B2  0.098623   0.0  0.0

In [45]:
rates2.index

Index(['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3', 'D1', 'D2', 'D3',
       'E1', 'E2', 'E3', 'F1', 'F2', 'F3', 'G1', 'G2', 'G3', 'A4', 'A5', 'A6',
       'B4', 'B5', 'B6', 'C4', 'C5', 'C6', 'D4', 'D5', 'D6', 'E4', 'E5', 'E6',
       'F4', 'F5', 'F6', 'G4', 'G5', 'G6', 'A7', 'A8', 'A9', 'B7', 'B8', 'B9',
       'C7', 'C8', 'C9', 'D7', 'D8', 'D9', 'E7', 'E8', 'E9', 'F7', 'F8', 'F9',
       'G7', 'G8', 'G9'],
      dtype='object')

In [46]:
for key in subs_dict2:
    if key in rates.index:
        rates2.loc[key]['NADH'] = subs_dict2[key]['NADH']['conc']
        rates2.loc[key]['Pyr'] = subs_dict2[key]['Pyr']['conc']

In [61]:
rates2

        rate      NADH   Pyr
A1  0.111318  0.416667  40.5
A2  0.109298  0.416667  40.5
A3  0.111793  0.416667  40.5
B1  0.104684  0.416667  37.8
B2  0.098623  0.416667  37.8
..       ...       ...   ...
F8  0.016204  0.000000   0.0
F9  0.009027  0.000000   0.0
G7  0.010804  0.000000   0.0
G8  0.011479  0.000000   0.0
G9       NaN  0.000000   0.0

[63 rows x 3 columns]

In [24]:
writer = pandas.ExcelWriter('output_plate2.xlsx')
rates2.to_excel(writer, sheet_name='exp')
writer.save()

In [68]:
combined = pandas.concat((rates, rates2), ignore_index=True)

In [70]:
combined[combined.NADH==0.05]

         rate  NADH     Pyr
111  0.053595  0.05  27.000
112  0.038701  0.05  27.000
113  0.044214  0.05  27.000
114  0.041106  0.05  13.500
115  0.036351  0.05  13.500
116  0.033036  0.05  13.500
117  0.035409  0.05   6.750
118  0.032411  0.05   6.750
119  0.030782  0.05   6.750
120  0.035409  0.05   4.455
121  0.032411  0.05   4.455
122  0.030782  0.05   4.455
123  0.022091  0.05   3.375
124  0.020869  0.05   3.375
125  0.015224  0.05   3.375
126  0.028038  0.05  40.500
127  0.028439  0.05  40.500
128  0.032236  0.05  40.500
129  0.018943  0.05  37.800
130  0.021177  0.05  37.800
131       NaN  0.05  37.800

In [ ]:
writer = pandas.ExcelWriter('output_for_model_simulation.xlsx')
combined(writer, sheet_name='combined date')
writer.save()